@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&family=Roboto:wght@300;400&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:active,
:hover,
:focus {
  outline: 0% !important;
  outline-offset: 0% !important;
}

a:hover {
  color: #AB2C48;
}

ul, ol {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: .7rem;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #AB2C48;
  border-radius: .6rem;
}

h1 {
  font-size: 3.5rem;
  font-weight: 900;
  margin-bottom: 3rem;
  color: #43121d;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #43121d;
  font-family: "Quicksand", sans-serif;
  text-transform: capitalize;
  line-height: 3rem;
}

h4 {
  color: #43121d;
  font-family: "Quicksand", sans-serif;
  text-transform: capitalize;
  font-size: 1.8rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

h5 {
  color: #AB2C48;
  text-transform: capitalize;
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: .7rem;
}

p {
  font-size: 1.7rem;
  color: #000;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: .1rem;
}

.main_btn {
  display: inline-block;
  padding: .8rem 2rem;
  line-height: 1.8rem;
  background-color: #AB2C48;
  border: 0.1rem solid #AB2C48;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
  -webkit-box-shadow: 0rem 0.4rem 1rem -0.1rem rgba(0, 0, 0, 0.8);
          box-shadow: 0rem 0.4rem 1rem -0.1rem rgba(0, 0, 0, 0.8);
  -webkit-transition: all .4s ease-out 0s;
  transition: all .4s ease-out 0s;
}

.main_btn:hover {
  background-color: transparent;
  color: #AB2C48;
}

.white_btn {
  display: inline-block;
  padding: .8rem 2rem;
  line-height: 1.8rem;
  background-color: #fff;
  border: .1rem solid #fff;
  color: #000;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
  -webkit-box-shadow: 0rem 0.4rem 1rem -0.1rem rgba(0, 0, 0, 0.8);
          box-shadow: 0rem 0.4rem 1rem -0.1rem rgba(0, 0, 0, 0.8);
  -webkit-transition: all .4s ease-out 0s;
  transition: all .4s ease-out 0s;
}

.white_btn:hover {
  background-color: transparent;
  color: #AB2C48;
  border-color: #AB2C48;
}

.wrapper {
  padding: 5rem;
  padding-bottom: 5rem;
}

.text-content {
  width: 70%;
  margin: auto;
}

header .navbar {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 999;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

header .navbar .navbar-brand #brand_img {
  width: 93% !important;
  height: 6.5rem !important;
  -webkit-animation: shake 5s linear infinite alternate;
          animation: shake 5s linear infinite alternate;
}

@-webkit-keyframes shake {
  from {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  to {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
}

@keyframes shake {
  from {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  to {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
}

header .navbar .navbar-brand #brand_img:hover {
  -webkit-filter: drop-shadow(0rem 0.3rem 0.5rem rgba(0, 0, 0, 0.8));
          filter: drop-shadow(0rem 0.3rem 0.5rem rgba(0, 0, 0, 0.8));
  -webkit-transition: all .2s ease-out 0s;
  transition: all .2s ease-out 0s;
}

header .navbar .navbar-nav {
  padding: 0 .9rem;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

header .navbar .navbar-nav .nav-link {
  font-size: 1.7rem;
  font-weight: 600;
  text-transform: capitalize;
  color: #AB2C48;
  letter-spacing: .1rem;
  position: relative;
}

header .navbar .navbar-nav .nav-link:hover {
  color: #f195a9;
}

header .navbar .navbar-nav .main_btn {
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-left: .8rem;
}

header .navbar .navbar-toggler:focus,
header .navbar .navbar_toggle_icon:active {
  outline: unset;
  border: unset;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.scroll_on {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  background: opacity(0.5);
  -webkit-box-shadow: 0rem 0.3rem 0.4rem rgba(0, 0, 0, 0.09);
          box-shadow: 0rem 0.3rem 0.4rem rgba(0, 0, 0, 0.09);
  -webkit-transition: .2s ease-in-out 0s;
  transition: .2s ease-in-out 0s;
}

#home .top_banner {
  width: 100%;
  background: url("../images/bg/bg-1.jpg") no-repeat center;
  background-size: cover;
  padding: 47rem 0 10rem;
  position: relative;
}

#home .top_banner .row {
  position: absolute;
  top: 15rem;
}

#section_counter {
  background-color: #AB2C48;
  padding: 3rem 0rem;
}

#section_counter h2 {
  color: #fff;
}

#section_counter p {
  color: #fff;
  font-size: 1.5rem;
}

#about .row .about1 {
  width: 100%;
  height: 35rem;
  border-radius: .5rem;
  margin-right: 2rem;
}

.food_type {
  padding-top: 2rem;
}

.food_type ul li {
  font-size: 1.6rem;
  color: #999;
  line-height: 2.5rem;
  position: relative;
  margin-left: 3rem;
}

.food_type ul li::before {
  position: absolute;
  left: -2.5rem;
  color: #AB2C48;
  font-size: 2rem;
  font-family: "Font Awesome 5 Free";
  content: '\f00c';
  display: inline-block;
  padding-right: .4rem;
  font-weight: 900;
}

.story_section {
  width: 100%;
  height: 30rem;
  background: url("../images/bg/bg-2.jpg") no-repeat center;
  background-size: cover;
  padding-top: 10rem;
  text-align: center;
}

.story_section h2 {
  color: #AB2C48;
  font-size: 3rem;
}

.explore_foood .container .row .text-content h2 {
  color: #AB2C48;
  font-size: 3rem;
}

.explore_foood .card {
  border: none;
  background-color: transparent;
  border-radius: .7rem;
}

.explore_foood .card img {
  border-radius: .7rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.explore_foood .card span {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  color: #AB2C48;
  padding-top: 1rem;
  border-bottom: 2.5px solid #eee;
}

.explore_foood .card span del {
  color: #999;
  margin-left: 1rem;
}

.testimonial_section {
  background: #AB2C48;
}

.testimonial_section .title {
  font-size: 3rem;
  color: #fff;
}

.testimonial_section .carousel-item {
  margin-top: 4rem;
  padding: 10.2rem 4rem;
  background-color: #fff;
  border-radius: .7rem;
  text-align: center;
}

.testimonial_section .carousel-item .carousel-caption p {
  font-size: 1.5rem;
  line-height: 2.2rem;
  padding: 0rem 11% .8rem;
}

.testimonial_section .carousel-item .carousel-caption img {
  max-width: 6.5rem;
  border-radius: 50%;
  padding: .8rem;
}

.testimonial_section .carousel-indicators {
  bottom: -3rem;
}

.testimonial_section .carousel-indicators button {
  width: 1.5rem;
  height: 1.5rem;
  outline: none;
  border-radius: 50%;
  border: none;
  margin-right: 1rem;
  opacity: .2;
}

.testimonial_section .carousel-indicators button.active {
  opacity: 1;
}

.faq .title {
  text-align: center;
  font-size: 3rem;
  color: #AB2C48;
}

.faq h4 span {
  color: #AB2C48;
  font-size: 2rem;
  margin-right: .5rem;
}

.book_food {
  width: 100%;
  background: url("../images/bg/bg-3.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  background-position: 0 7.2rem;
  padding: 5rem 0rem;
}

.book_food .title {
  color: #fff;
  font-size: 3rem;
  letter-spacing: .5px;
}

.newslatter {
  width: 65%;
  margin: 0rem auto;
}

.newslatter .title {
  color: #AB2C48;
  font-size: 3rem;
  letter-spacing: .5px;
}

.newslatter .form-control {
  height: 3rem;
  padding: 0rem 1.5rem;
  font-size: 1.5rem;
  width: 1005;
  border: none;
  border-radius: 0;
  background: transparent;
  border: 0.2rem solid #999;
  color: #000;
  font-weight: 700;
}

.newslatter .form-control:hover, .newslatter .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #AB2C48;
}

.footer {
  background: #AB2C48;
}

.footer .footer-link {
  font-size: 1.6rem;
  color: #fff;
  padding: 0rem 2rem;
  text-decoration: none;
}

.footer .footer-link:hover {
  letter-spacing: .2px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.footer .footer-social a i {
  font-size: 2rem;
  color: #fff;
  padding: 0 1rem;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .navigation_wrap {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .navigation_wrap .navbar-brand img {
    height: 2rem;
  }
  .text_content {
    padding: -20rem 0 5rem 0 !important;
  }
  .testimonial_section .carousel-item .carousel-caption p {
    padding: 0;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
  .navbar .navbar-brand img {
    width: 91% !important;
    height: 5.5rem !important;
  }
  .story_section {
    height: auto;
    padding: 3rem 0rem;
  }
  .testimonial_section .carousel-item {
    padding: 11rem 3rem;
  }
  .newslatter {
    width: 75%;
  }
  .newslatter .main_btn {
    width: 100%;
    margin-top: 1rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  #about .about1 {
    width: 100%;
    height: 25rem !important;
  }
  .testimonial_section .carousel-item {
    padding: 13rem 4rem;
  }
  .newslatter {
    width: 85%;
  }
}

@media (max-width: 330px) {
  html {
    font-size: 46%;
  }
  .testimonial_section .carousel-item {
    padding: 15rem 4rem;
  }
  .newslatter {
    width: 95%;
  }
}
/*# sourceMappingURL=main.css.map */